<a href="https://colab.research.google.com/github/AndriiFedorchuk/Andrii/blob/master/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
#!pip install sklearn
#!pip install pandas
#!pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.6/dist-packages (2.2.5)
Requirement already satisfied: numpy>=1.9.1 in /tensorflow-2.1.0/python3.6 (from keras) (1.18.1)
Requirement already satisfied: six>=1.9.0 in /tensorflow-2.1.0/python3.6 (from keras) (1.14.0)
Requirement already satisfied: scipy>=0.14 in /tensorflow-2.1.0/python3.6 (from keras) (1.4.1)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /tensorflow-2.1.0/python3.6 (from keras) (1.1.0)
Requirement already satisfied: h5py in /tensorflow-2.1.0/python3.6 (from keras) (2.10.0)
Requirement already satisfied: keras-applications>=1.0.8 in /tensorflow-2.1.0/python3.6 (from keras) (1.0.8)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras) (3.13)

In [83]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy 
import pandas as pd
from sklearn.model_selection import train_test_split

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 1.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

TensorFlow is already loaded. Please restart the runtime to change versions.

In [84]:
URL = 'https://raw.githubusercontent.com/AndriiFedorchuk/Andrii/master/main_fa.csv'
dataset = pd.read_csv(URL)
dataset.head(10)

   History  Psychology  Politics  ...  Adrenaline sports  Pets  Gender
0        1           5         1  ...                  4     4       1
1        1           3         4  ...                  2     5       1
2        1           2         1  ...                  5     5       1
3        4           4         5  ...                  1     1       1
4        3           2         3  ...                  2     1       1
5        5           3         4  ...                  3     2       0
6        3           3         1  ...                  1     5       1
7        5           2         3  ...                  2     5       0
8        3           2         1  ...                  1     1       1
9        3           2         3  ...                  2     2       1

[10 rows x 33 columns]

In [85]:
dataset /= 5
dataset.head()

   History  Psychology  Politics  ...  Adrenaline sports  Pets  Gender
0      0.2         1.0       0.2  ...                0.8   0.8     0.2
1      0.2         0.6       0.8  ...                0.4   1.0     0.2
2      0.2         0.4       0.2  ...                1.0   1.0     0.2
3      0.8         0.8       1.0  ...                0.2   0.2     0.2
4      0.6         0.4       0.6  ...                0.4   0.2     0.2

[5 rows x 33 columns]

In [0]:
x = dataset.iloc[:,:32].values
y = dataset.iloc[:,32].values

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.1)

In [87]:
# print info about a shape of arrays
print(x_train.shape, 'train samples for parameters')
print(y_train.shape, 'train samples for output - Gender')
print(x_test.shape, 'test samples  for parameters')
print(y_test.shape, 'test samples for output - Gender')

(900, 32) train samples for parameters
(900,) train samples for output - Gender
(100, 32) test samples  for parameters
(100,) test samples for output - Gender

In [88]:
#Dependencies
import keras
from keras.models import Sequential
from keras.layers import Dense

# Neural network
model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(32,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

RuntimeError: ignored

In [51]:
#train, test = train_test_split(dataframe, test_size=0.1)
#train, val = train_test_split(train, test_size=0.111)
#print(len(train), 'train examples')
#print(len(val), 'validation examples')
#print(len(test), 'test examples')

800 train examples
100 validation examples
100 test examples

In [52]:
dataframe.shape
train.shape
val.shape
test.shape

(100, 33)




















1

In [0]:
#dataset=numpy.loadtxt("https://raw.githubusercontent.com/AndriiFedorchuk/Andrii/master/main_fa.csv",delimiter=",")
#split into input (X) and output (Y) variables
#X=dataset[:,0:32]
#Y=dataset[:,32]

#Gender = dataframe.temp