<a href="https://colab.research.google.com/github/AndriiFedorchuk/Andrii/blob/master/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.17.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.14.1)

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

TensorFlow 2.x selected.

In [17]:
URL = 'https://raw.githubusercontent.com/AndriiFedorchuk/Andrii/master/main_fa.csv'
dataframe = pd.read_csv(URL)
dataframe.head()

   History  Psychology  Politics  ...  Adrenaline sports  Pets  Gender
0        1           5         1  ...                  4     4       1
1        1           3         4  ...                  2     5       1
2        1           2         1  ...                  5     5       1
3        4           4         5  ...                  1     1       1
4        3           2         3  ...                  2     1       1

[5 rows x 33 columns]

In [16]:
train, test = train_test_split(dataframe, test_size=0.1)
train, val = train_test_split(train, test_size=0.111)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

800 train examples
100 validation examples
100 test examples